<%= form_with(model: @task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: "form-control" %>
  </div>

  <%# Only show the completed field if it's not a new record %>
  <% unless @task.new_record? %>
    <div class="form-group">
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>


<%# <%= simple_form_for @task do |f| %>
  <%# <%= f.input :title %>
  <%# <%= f.input :details %>
  <%# <%= f.submit class: "btn btn-primary mt-4" %>

  <%#= link_to "Delete", pet_path(Pet.last), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
  <%#= button_to "Delete", pet_path(Pet.last), method: :delete, form: { data: { turbo_confirm: "Are your sure?" } } %>
<%# <% end %>
